{* status 404 *}

{block content}

<h2 n:block="title">Nenájdená aktualita(oznam)</h2>

<div class="alert alert-danger">
	<p>Ľutujeme, ale Vami požadovaná aktualita(oznam) sa nenašiel.</p>
	<p>Alebo aktualita(oznam) neexzistuje, alebo nemáte dostatočné oprávnenie na prezeranie.</p>
</div>
<div>
  <p><a n:href="Oznam:" title="Späť"><i class="fa fa-undo"></i> Naspäť na výpis aktualít(oznamov)</a></p>
</div>