/* AUTHOR: Peter VOJTECH ml. - VZ; CREATION DATE: 22.2.2010 */
/* UPDATED 10.04.2017 - PV*/

html {
  text-align: center;
}
body {
  max-width: 1300px;
  width: 95%;
  display: inline-block;
  padding: 0;
}
a {
  color: #b50000;
}
/* -- Zakladne rozlozenie -- */
.navbar-hore {
  background-image: -webkit-linear-gradient(top, #036 0%, #222 100%);
  background-image:      -o-linear-gradient(top, #036 0%, #222 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#036), to(#222));
  background-image:         linear-gradient(to bottom, #036 0%, #222 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff003366', endColorstr='#ff222222', GradientType=0);
}

#lavy {
  background: #eee;
  padding: 0;
  text-align: left;
}
#text {
  padding: 0 0 0 1ex;
  text-align: left;
}
.user {
  padding: 8px;
  border-bottom: 1px solid #ccc;
}
#footer {
  margin-top: 1em;
  font-size: 75%;
  text-align: center;
}
#footer a {
  color: #C1A303;
}
#footer p {
  text-align: center;
  width: 100%;
}
.confirm-dialog {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: block;
  margin: 0;
  padding: 10% 30%;
  text-align: center;
}
.confirm-dialog .modal {
  display: inline-block;
  margin: 0;
  padding: 1em 3em;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: #e66;
  background-repeat: no-repeat;
  background-position: 1em center;
  background-image: url("../../images/upozornenie_c.png");
  color: white;
  font-weight: bold;
  border: .3em solid red;
  text-align: center;
  position: initial;
}
.confirm-dialog input {
  border: .1em solid #333;
  background-color: #999;
  color: #fff;
  font-weight: bold;
  padding: .3em;
}
.confirm-dialog input[name=yes] {
  background-color: #c03;
}
.confirm-dialog input[name=no] {
  background-color: #228B22;
}
#dispNone {
  display: none;
}
#dispBlock {
  display: block;
}
a[href^="error:"] {
  background: red;
  color: white;
}
a.pridaj, .edit, a.vymaz, a.delPocitadlo {
  text-shadow: none;
  border: 0; 
  display: inline-block;
  height: 24px;
  width: 24px;
  opacity: 0.6;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}
a.delPocitadlo {  background-image: url(../../ikonky/16/document_delete16.png);}

a.pridaj:hover, .edit:hover, a.vymaz:hover, a.delPocitadlo:hover {
  background-color: silver;
  background-color: rgba(50, 50, 50, 0.2);
  border: 1px inset rgba(50, 50, 50, 0.2);
  opacity: 1;
}
a.vymaz-link, a.back-link, a.edit-link, a.info-link {
  border: 1px outset rgba(50, 50, 50, 0.2);
  -webkit-border-radius: 1ex;
  -moz-border-radius: 1ex;
  border-radius: 1ex;
  padding: .25ex 1.5ex;
  color: white;
  line-height: 5ex;
}
a.vymaz-link { background-color: #b50000;}
a.back-link {  background-color: #005a90;}
a.edit-link {  background-color: #228b22;}
a.info-link {  background-color: #b0d9ff; color: #6a6a6a;}
a.vymaz-link i, a.back-link i, a.edit-link i, a.info-link i{
  margin-right: .5ex;
  position: relative;
  top:.3ex;
}
a.vymaz-link:hover, a.back-link:hover, a.edit-link:hover, a.info-link:hover {
  background-color: silver;
  color: #333;
}
a.button-right {
  float: right;
  margin-left: .5ex;
}
a.button-left {
  float: left;
  margin-right: .5ex;
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  cursor: default;
}
.fa-1_5x { font-size: 1.5em;}
.edit-ikon {
  color: #228b22;
}