{block content}
<article class="article-main row">
  <div class="col-xs-8 col-md-8 col-md-offset-2">
    <h2 n:inner-block="title">{$h2}</h2>
    <div>Toto je úvodná stránka</div>
  </div>
</article>