<div class="icon">
  <img src="{$basePath}/www/files/menu/{$clanok->hlavne_menu->avatar}" alt="" width="129" height="128" class="img-responsive center-block img-icon">
</div>
<h2>{$clanok->nazov}</h2>
<p>{$clanok->clanok_lang->text|noescape}</p>