#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
services:
  - DbTable\Authenticator

  authorizator:
    class: Nette\Security\Permission
    setup:
      - addRole('guest')
      - addRole('register', 'guest')
      - addRole('pasivny', 'register')
      - addRole('aktivny', 'pasivny')
      - addRole('spravca', 'aktivny')
      - addRole('admin', 'spravca')
      - addResource('Front:Homepage')
      - addResource('Front:User')
      - addResource('Front:UserLog')
      - addResource('Front:My')
      - addResource('Front:Dokumenty')
      - addResource('Front:Error')
      - addResource('admin')
      - addResource('Front:Clanky')
      - addResource('Front:Menu')
      - addResource('Admin:Homepage')
      - addResource('Admin:User')
      - addResource('Admin:Verzie')
      - addResource('Admin:Menu')
      - addResource('Admin:Udaje')
      - addResource('Admin:Dokumenty')
      - addResource('Admin:Lang')
      - addResource('Admin:Slider')
      - addResource('Admin:Registracia')
      - addResource('Admin:Clanky')
      - addResource('Admin:My')
      - allow('guest', ['Front:Dokumenty', 'Front:Clanky', 'Front:Menu', 'Front:Homepage', 'Front:Error'])
      - allow('guest', 'Front:User', ['registracia', 'activateUser', 'forgottenPassword', 'resetPassword', 'default'])
      - allow('guest', 'Front:UserLog', ['activateNewEmail'])
      - allow('register', 'Front:UserLog', ['default', 'mailChange', 'passwordChange'])
      - allow('register', 'Front:My')
      - allow('pasivny', ['Front:Clanky'], 'komentar')
      - allow('aktivny', 'admin', 'enter')
      - allow('aktivny', ['Admin:Clanky', 'Admin:Menu'], ['default', 'edit', 'edit2', 'add', 'add2', 'prilohy', 'del'])
      - allow('aktivny', 'Admin:Homepage', 'default')
      - allow('aktivny', 'Admin:Dokumenty')
      - allow('spravca', ['Admin:Clanky', 'Admin:Menu'], ['addpol', 'delete', 'pocitadlo'])
      - allow('spravca', ['Admin:Verzie', 'Admin:User'], 'default')
      - allow('spravca', ['Admin:Udaje'], ['default', 'edit'])
      - allow('spravca', ['Admin:Slider', 'Admin:My'])
      - allow('spravca', 'Admin:Lang', ['default', 'add', 'edit'])
      - allow('spravca', 'Admin:Registracia', ['default', 'edit'])
      - allow('spravca', 'Admin:Homepage', 'udrzba')
      - allow('admin')

  - DbTable\Admin_menu
  - DbTable\Clanok_komentar
  - DbTable\Clanok_komponenty
  - DbTable\Clanok_lang
  - DbTable\Dlzka_novinky
  - DbTable\Dokumenty
  - DbTable\Druh
  - DbTable\Hlavicka
  - DbTable\Hlavne_menu
  - DbTable\Hlavne_menu_lang
  - DbTable\Hlavne_menu_cast
  - DbTable\Ikonka
  - DbTable\Lang
  - DbTable\News
  - DbTable\Registracia
  - DbTable\Slider
  - DbTable\Udaje
  - DbTable\Udaje_typ
  - DbTable\User_in_categories
  - DbTable\User_categories
  - DbTable\User_prihlasenie
  - DbTable\User_profiles
  - DbTable\Users
  - DbTable\Verzie

  - App\RouterFactory 
  router: @App\RouterFactory::createRouter

# services for language support
  - Language_support\Clanky
  - Language_support\Dokumenty
  - Language_support\Error
  - Language_support\Homepage
  - Language_support\My
  - Language_support\UserLog
  - Language_support\User

# forms
  - App\AdminModule\Presenters\Forms\Article\IEditMenuFormFactory
  - App\AdminModule\Components\Article\TitleArticle\ZmenVlastnikaFormFactory
  - App\AdminModule\Components\Article\TitleArticle\ZmenUrovenRegistracieFormFactory
  - App\AdminModule\Components\Article\TitleArticle\ZmenDatumPlatnostiFormFactory
  - App\AdminModule\Components\Article\TitleImage\EditTitleImageFormFactory
  - App\AdminModule\Components\Clanky\PrilohyClanok\EditPrilohyFormFactory
  - App\AdminModule\Presenters\Forms\Slider\EditSliderFormFactory
  - App\AdminModule\Presenters\Forms\Udaje\EditUdajeFormFactory
  - App\AdminModule\Presenters\Forms\Udaje\AddTypeUdajeFormFactory
  - App\AdminModule\Presenters\Forms\User\AddUserFormFactory
  - App\AdminModule\Presenters\Forms\User\EditUserFormFactory
  - App\AdminModule\Presenters\Forms\User\EditCategoriFormFactory
  - App\AdminModule\Presenters\Forms\Verzie\EditVerzieFormFactory

  - App\FrontModule\Presenters\Forms\My\EditFotoPrilohyFormFactory
  - App\FrontModule\Presenters\Forms\User\SignInFormFactory
  - App\FrontModule\Presenters\Forms\User\RegisterFormFactory
  - App\FrontModule\Presenters\Forms\UserLog\UserEditFormFactory
# component services 

  - App\AdminModule\Components\Article\IAdminAddMenu
  - App\AdminModule\Components\Article\TitleArticle\ITitleArticleControl
  - App\AdminModule\Components\Article\TitleImage\ITitleImageControl
  - App\AdminModule\Components\User\IUserLastControl
  - App\AdminModule\Components\Clanky\IZobrazClanokControl
  - App\AdminModule\Components\Clanky\PrilohyClanok\IPrilohyClanokControl
  - App\AdminModule\Components\Clanky\TableOfUsers\ITableOfUsersControl

  - App\FrontModule\Components\Clanky\IAktualneClankyControl
  - App\FrontModule\Components\Clanky\IAktualnyProjektControl
  - App\FrontModule\Components\Clanky\IKomentarControl
  - App\FrontModule\Components\Clanky\IPrilohyClanokControl
  - App\FrontModule\Components\Clanky\TableOfUsers\ITableOfUsersControl
  - App\FrontModule\Components\Clanky\OdkazNaClanky\IOdkazNaClankyControl
  - App\FrontModule\Components\Slider\ISliderControl
  - App\FrontModule\Components\User\ILesyPPSutazFooterUserLangMenuControl
  - App\FrontModule\Components\User\ILesyPPSutazMainUserLangMenuControl
  - App\FrontModule\Components\News\INewsControl
  - App\FrontModule\Components\My\FotoPrilohy\IFotoPrilohyControl

# PeterVojtech
  - PeterVojtech\Email\IEmailControl
