<div class="user-panel {*col-xs-12 col-md-8*}" n:snippet="userLangMenu" n:if="count($menu_user)">
	<ul  n:inner-foreach="$menu_user as $mu">
		<li>
			<a href="{ifset $mu->abs_link}{$mu->abs_link}{else}{if is_array($mu->odkaz)}{plink $mu->odkaz[0], $mu->odkaz[1]['meno']=>$mu->odkaz[1]['obsah']}{else}{plink $mu->odkaz}{/if}{/ifset}" 
         title="{$mu->title}" 
         {if strlen($mu->class)}class="{$mu->class}"{/if} 
         {if strlen($mu->target)}target="{$mu->target}"{/if}
         {if $mu->data['name'] != ''}data-{$mu->data['name']}="{$mu->data['value']}"{/if}>
        <strong n:if="isset($mu->ikonka)" class="fa fa-{$mu->ikonka}"></strong> {$mu->nazov|noescape}
      </a>
		</li>
		{sep}<li class="separator"></li>{/sep}
	</ul>
</div>