<div class="page-header edit-link-bar" data-toggle="tooltip" data-placement="bottom">
  <a n:if="$user->isAllowed('Admin:Oznam', 'add')" href="{plink 'Oznam:add'}" title="Pridaj nový oznam" class="btn btn-success">
    <i class="fa fa-file-o"></i>Pridaj nový oznam 
  </a>

  <div n:snippet="zmenPresmerovanie" class="btn-group edit-link-bar" role="group" aria-label="zmen-presmerovanie-link">
    <div class="btn btn-info disabled" title="Aktuálne presmerovanie na: {if $clanok_presmerovanie !== FALSE}{$clanok_presmerovanie->nazov}{else}Nie je nastavené!{/if}" type="button">
      <i class="fa fa-user"></i> {if $clanok_presmerovanie !== FALSE}{$clanok_presmerovanie->nazov}{else}Nie je nastavené!{/if}
    </div>
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModalRedirectChange" title="Zmeň presmerovanie"><i class="fa fa-pencil"></i></button>
  </div>

  <div n:snippet="porPodclanoky" class="btn-group edit-link-bar" role="group" aria-label="poradie-podclanky-link">
    <div class="btn btn-info disabled" title="Poradie oznamov podľa dátumu platnosti od {$c = $por_oznamy ? 'najskoršieho' : 'najneskoršieho'}.">
      Poradie oznamov <i class="fa fa-sort-numeric-{$c = $por_oznamy ? 'asc': 'desc'}"></i>
    </div>
    <a n:href="oznamyZoradenie!" title="Zmeň zoradenie oznamov podľa dátumu platnosti od {$por_oznamy ? 'najneskoršieho' : 'najskoršieho'}." class="btn btn-info" role="button">
      Nastav na <i class="fa fa-sort-numeric-{$c = $por_oznamy ? 'desc': 'asc'}"></i>
    </a>
  </div>
</div>

{* -- Modal dialog pre zmenu presmerovania -- *}
<div class="modal fade" id="myModalRedirectChange" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Zmena presmerovania:</h4>
        <p>Aktuálne presmerovanie: {if $clanok_presmerovanie !== FALSE}{$clanok_presmerovanie->nazov}{else}Nie je nastavené!{/if}</p>
      </div>
      <div class="modal-body">
        {control zmenPresmerovanieForm}
      </div>
    </div>
  </div>
</div>