<div class="icon">
  <img src="{$basePath}/www/files/menu/{$clanok->hlavne_menu->avatar}" alt="" width="129" height="128" class="img-responsive center-block img-icon">
</div>
<h3>{$clanok->nazov}</h3>
<p>{$clanok->clanok_lang->anotacia}</p>
<a href="{plink Clanky: $clanok->id}" type="button" class="btn btn-success btn-sm" title="{$clanok->nazov} - Viac info...">Viac info...</a>