{block content}
<article class="article-main">
  <div class="row">
    <div class="col-xs-9 col-md-9">
      <h2 n:inner-block="title">{$h2}</h2>
      <div class="panel panel-warning">
        <div class="panel-heading">
          <i class="fa fa-exclamation-triangle fa-4x fa-pull-left" aria-hidden="true"></i>
          <h4 n:foreach="$text as $te">{$te}</h4>
        </div>
      </div>
    </div>
  </div>
</article>
