@charset "utf-8";

@media (max-width : 1200px )

{

	header

	{	height: 300px;}

	header h2

	{	top: 50%;}

	.h1-responsive

	{	font-size: 350%;}

	h3.h3-responsive

	{	font-size: 150%;}

	.step-guide p

	{	font-size: 100%;}

	#google-maps .textBox

	{	height: 100px; padding: 0;}

}

@media (min-width : 800px )

{

}

@media (max-width : 799px )

{

	h3

	{	font-size: 150%;}

	h3.h3-responsive

	{	font-size: 140%;}

	.h1-responsive

	{	font-size: 300%;}

	.part-web img

	{	max-width: 96px;}

	.step-guide

	{	display:block;}

	#smallHeadimg 

	{	display: none;	}

	header

	{

		height: auto;

		overflow: hidden

	}

	#headimg

	{

		height: 250px;

		background-position: right 10%; 

	}

		#headimg h2

		{

			top: 50%;

			font-size: 250%; line-height: 150%;

			padding: 0;

		}

	#headline

	{	height: auto;}

	#google-maps .textBox

	{	height: 100px; padding: 0;}

	#google-maps .textBox h2

	{	font-size: x-large;}

	#partLogReg input, #partLogReg label

	{

		border-radius: 6px;

		height: 33px;

		font-size: 110%; 

		padding: 4px 8px;

	}

	#inputFileKind, #inputFileWork

	{	font-size: 100%;}

}

@media (max-width : 640px )

{

	h2.h2-responsive

	{	font-size: 180%;}

	h3

	{

		text-align: left;

		margin-left: 12%;

	}

	form input, form select, form textarea, form label

	{

		border-radius: 6px;

		height: 33px;

		font-size: 110%; 

		padding: 4px 8px;

	}

	form textarea

	{	height: 72px;}

	form legend

	{

		font-size: 100%;

	}

	#partLogReg input

	{	width: 50%;}
	.logo
	{	width: 70px; height: 79px;}
	.info-user button

	{	margin-left: 12%}

	.h1-responsive

	{	font-size: 250%;}

	.part-web-item

	{	width: 100%;}

	.parts-of-web 

	{

		height: auto;

		overflow: hidden;

	}

	.part-web 

	{

		display: table;

		width: 100%;

		float: left;

	}

	.part-web p

	{    font-size: 90%;  }

	.part-web img

	{

		max-width: 92px;

		margin-left: 20%;

	}

	.part-web .icon

	{

		display: table-cell;

		height: 100%;

		float: none;

		vertical-align: middle;

	}

	#inputFileKind, #inputFileWork

	{	

		font-size: 80%;

		padding: 0;

		width: 45%;

	}

	#headimg 

	{

		height: 200px;

		background-position: top center; 

	}

}

@media (max-width: 480px) 

{

	form label

	{	font-size: 90%; }
	.form-group-sm
	{	width: 90%;}
	.h1-responsive

	{	font-size: 200%;}

	.part-web img

	{

		max-width: 72px;

		margin-left: 10%;

	}

	#headimg h2

	{

		top: 50%;

		font-size: 200%; line-height: 150%;

		padding: 0;
		float: none;
	}

	#topmenu button

	{

		display:inline-block;

		color: #9bcc4a;

		background: none;

		border: none;

		font-size: 120%; font-weight: bold;

		line-height: 200%

	}

	#topmenu ul

	{
		padding-left: 5%; margin: 0;
		width: 70%;

		padding-left: 5%;

		background: #412600;

	}

	#topmenu ul li

	{
		width: 90%;
		display: block;

		text-align: left;

		border: none;
	}
	#nav-content
	{	
		float: right;
		clear: right;
		width: 40%;
	}

}

@media (min-width: 481px) 

{

	#nav-content
	{	display:block;}

}

@media (max-width: 320px) 

{

	h2.h2-responsive

	{	font-size: 150%;}

	.part-web p

	{    font-size: 80%;  }

		.part-web img

	{

		max-width: 64px;

		margin-left: 5%;

	}

}
