/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20.3.2017, 8:06:00
    Author     : Vojtech.peter
*/
.logo {
  background-color: #9c0;
}

.user-lang-menu img.avatar{
  width: 16px;
}
.my-info dt {
  float: left;
  font-weight: normal;
  display: inline-block;
  width: 25%;
}
.my-info dd {
  font-weight: bold;
  display: inline-block;
  width: 75%;
}

#footer {
  font-size: 80%;
  text-align: center;
}
#footer ul {
  display: inline-block;
  margin: 0;
}
#footer li {
  float: left;
  margin-left: 1em;
  margin-right: 1em;
}
#footer p {
  float: none;
  margin: 0;
}