{var $robots = noindex}
{block #content}
<article class="article-main">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <h2 n:inner-block="title"><i class="fa fa-unlock"></i> {$h2}</h2>
      <div class="alert alert-warning" role="alert"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {$forgot_pass_txt}</div>
      {control forgottenPasswordForm}
    </div>
  </div>
</article>