{var $robots = noindex}
{block content}
<article class="article-main">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <h2 n:inner-block="title"><i class="fa fa-user-circle" aria-hidden="true"></i> {$h2}</h2>
      <blockquote class="bg-warning"><p>{$form_required|noescape}</p></blockquote>
      {control clenRegistraciaForm}
    </div>
  </div>
</article>