{var $robots = noindex}
{block #content}
<article class="article-main">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 bg-warning">
      <h2 n:inner-block="title">{$h2}</h2>
      <p>{$reset_pass_txt1}<br />{$email}</p>
      <p>{$reset_pass_txt2}</p>
      <p>{$form_required|noescape}</p>
      {control resetPasswordForm}
    </div>
  </div>
</article>