{if count($dokumenty)}
<div class="table-responsive">
  <table class="table table-unbordered">
    <thead>
      <tr>
        <th>#</th>
        <th>Druh</th>
        <th>Názov druhu{*Slovenský názov<br>Latinský názov*}</th>
        <th>zmeniť</th>
      </tr>
    </thead>
    <tbody>
      <tr  n:foreach="$dokumenty as $d">
        <th scope="row">{$iterator->counter}</th>
        <td>
          <img class="jslghtbx-thmb img-rounded" src="{$basePath}/{$d->thumb}" alt="{$d->nazov}" data-jslghtbx="{$basePath}/{$d->subor}" class="noajax" data-ajax="false" data-jslghtbx-group="mygroup1">
        </td>
        <td>{$d->nazov}<br>{$d->nazov_latin}</td>
        <td>
          <a href="{plink My:edit $d->id}" class="btn btn-default btn-sm" title="Editovať">
            <span class="glyphicon glyphicon-pencil"></span></a>
          <a href="{plink confirmForm:confirmDelete! id=>$d->id, druh=>'priloha', nazov=>$d->nazov, zdroj_na_zmazanie=>'príspevok'}" class="btn btn-danger btn-sm" title="Zmazať">
            <span class="glyphicon glyphicon-remove"></a>
          
        </td>
      </tr>      
    </tbody>
  </table>
</div>
{else}
<p>V tejto kategórii ešte nemáš žiaden príspevok</p>
{/if}