{* status 404 *}

{block content}

<h2 n:block="title">Nenájdená verzia</h2>

<div class="alert alert-danger">
	<p>Ľutujeme, ale Vami požadovaná verzia sa nenašla.</p>
	<p>Alebo neexzistuje, alebo nemáte dostatočné oprávnenie na prezeranie.</p>
</div>
<div>
  <p><a n:href="Verzie:" title="Späť"><i class="fa fa-undo"></i> Naspäť na výpis verzií</a></p>
</div>