{block content}
<h2 n:inner-block="title">{$h2}</h2>

<article>
<!--[if lt IE 9]><div id="article"><![endif]-->
  <div class="article_table">
    <div class="article_telo">
      <h3>{$ziaden_aktualny}</h3>
    </div>
  </div>
<!--[if lt IE 9]></div><![endif]-->
</article>