{var $robots = noindex}

{block #content}
<article class="article-main">
<!--[if lt IE 9]><div class="article-main"><![endif]-->
  <h2 n:inner-block="title">{$h2}</h2>
  {control passwordChangeForm}
<!--[if lt IE 9]></div><![endif]-->
</article>