{define #link}
<url>
  <loc>{$node->link}</loc>
</url>
{/define}
{define #node}
{if $node}
  {if !isset($hideName) || !$hideName }
    {include #link node => $node}
  {else}
    {var $hideName = false}
  {/if}
  {var $level = $level + 1}
  {foreach $node->nodes as $subNode}
    {include #node, node => $subNode}
  {/foreach}
  {var $level = $level - 1}
{/if}
{/define}
{var $level = 1}
{foreach $startNode->nodes as $noo}
    {include #node node => $noo, hideName => true, showSubnodes => true}
{/foreach}